---
apiVersion: backstage.io/v1alpha1
kind: API
metadata:
  name: wayback-archive-${api_indx}
  description: Archive API for the wayback copy machine
spec:
  type: openapi
  lifecycle: production
  owner: g${grp_indx}
  definition:
    $text: ./openapi.yaml
